@model DigiStoreWithMVC.Models.User
@{
    ViewBag.Title = "StorePage";
}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="container col s12">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src="~/img/sample_store.jpg">
                    </div>
                </div>

                <div class="card-panel blue darken-3">
                    <h5 class="card-title yellow-text accent-3">Store Information</h5>
                    <div class="card-content row">
                        <div class="card col l6 m6 s12">
                            <div class="card-content">
                                <span class="card-title">Contact</span>
                                @Html.Partial("_EditStoreInfo", Model)
                            </div>
                        </div>

                        <div class="card col l6 m6 s12">
                            <div class="card-content">
                                <span class="card-title">Store Hours</span>
                                @*@Html.Partial("_EditStoreHours", Model)*@
                                @{ Html.RenderPartial("_EditStoreHours", Model); }
                            </div>
                        </div>

                        <div class="card col l6 m6 s12">
                            <div class="card-content">
                                <span class="card-title">Rate this store</span>
                                <p class="range-field">
                                    Select a rating between 1 - 5.
                                    <input style="background-color: #1565c0" type="range" id="test5" min="1" max="5" />
                                </p>

                                @*
                                    @using (Html.BeginForm())
                                    {
                                    @Html.EditorFor(model => model.ReviewText, new { @id = "ReviewText", @type = "text", @class = "validate" })
                                    <button class="btn waves-effect waves-light blue darken-3 yellow-text accent-3" type="submit" name="submitButton">
                                    Submit<i class="material-icons right">send</i>
                                    </button>
                                    <p>@ViewBag.Message</p>
                                    }
                                *@

                            </div>
                        </div>

                        <div class="card col l6 m6 s12">
                            <div class="card-content">
                                <span class="card-title">Reviews</span>
                                <p>Populated from Database.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel blue darken-3">
            <h5 class="card-title yellow-text accent-3">Products</h5>
            <div class="card-content row">
                @{
                    if (Model != null)
                    {
                        if (Model.Items.Count() > 0)
                        {
                            foreach (DigiStoreWithMVC.Models.Item item in Model.Items)
                            {
                                @Html.Partial("_StoreItem", item)
                            }
                        }
                        else
                        {
                            <div class="card">
                                <h2 class="center">This store is empty.</h2>
                            </div>
                        }
                    }
                    else
                    {
                    }
                }
            </div>
        </div>
    </div>
</div>
