
@{
    ViewBag.Title = "ShoppingCart";
}

<div class="container">
    <div class="section">
        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
            <li class="">
                <div class="collapsible-header">
                    <i class="material-icons">
                        <img src="~/img/download.jpg" height="28" width="43" />
                    </i>Beauty
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s3">
                            <img class="responsive-img" src="~/img/download.jpg" />
                        </div>
                        <div class="col s7 m3">
                            Here We can put the deatail of this cup cake it does look mighty delicious man im hungry
                        </div>
                        <br />
                        <div class="col s3 m2">
                            <a href="#">Remove</a><br />
                            <br />
                            <a href="#">Edit</a>
                        </div>
                        <div class="col s4 m2">
                            <td class="product-cart-actions" data-rwd-label="Qty">
                                <div><strong>Quantity</strong></div>
                                <input type="number" pattern="\d*" name="cart[184090][qty]" value="1" size="4" data-cart-item-id="GGR-T7P-M" title="Qty" class="input-text qty" maxlength="12">
                                <button type="submit" name="update_cart_action" data-cart-item-update="" value="update_qty" title="Update" class="button btn-update hide">
                                    <span><span>Update</span></span>
                                </button>
                                <ul class="cart-links hide">
                                    <li></li>
                                </ul>
                            </td>
                            <a href="#">update</a><br />
                        </div>

                        <div class="col s4 m2"><strong>price:</strong>$5.99</div>
                    </div>


                </div>

            </li>
            <li class="">
                <div class="collapsible-header">
                    <i class="material-icons">
                        <img src="~/img/download%20(1).jpg" height="28" width="43" />
                    </i>Lovley
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s3">

                            <img class="responsive-img" src="~/img/download%20(1).jpg" />
                        </div>
                        <div class="col s7 m3">
                            Here We can put the deatail of this cup cake it does look mighty delicious man im hungry
                        </div>
                        <div class="col s3 m2">
                            <br />
                            <a href="#">Remove</a><br />
                            <br />
                            <a href="#">Edit</a>
                        </div>
                        <div class="col s4 m2">
                            <td class="product-cart-actions" data-rwd-label="Qty">
                                <div><strong>Quantity</strong></div>
                                <input type="number" pattern="\d*" name="cart[184090][qty]" value="1" size="4" data-cart-item-id="GGR-T7P-M" title="Qty" class="input-text qty" maxlength="12">
                                <button type="submit" name="update_cart_action" data-cart-item-update="" value="update_qty" title="Update" class="button btn-update hide">
                                    <span><span>Update</span></span>
                                </button>
                                <ul class="cart-links hide">
                                    <li></li>
                                </ul>
                            </td>
                            <a href="#">update</a><br />
                        </div>
                        <br />
                        <div class="col s4 m2"><strong>price:</strong>$5.99</div>
                    </div>


                </div>
            </li>
            <li class="">
                <div class="collapsible-header">
                    <i class="material-icons">
                        <img src="~/img/images%20(1).jpg" height="28" width="43" />
                    </i>Crazy
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s7 m3">

                            <img class="responsive-img" src="~/img/images%20(1).jpg" />
                        </div>
                        <div class="col s3">
                            Here We can put the deatail of this cup cake it does look mighty delicious man im hungry
                        </div>
                        <div class="col s3 m2">
                            <br />
                            <a href="#">Remove</a><br />
                            <br />
                            <a href="#">Edit</a>
                        </div>
                        <div class="col s4 m2">
                            <td class="product-cart-actions" data-rwd-label="Qty">
                                <div><strong>Quantity</strong></div>
                                <input type="number" pattern="\d*" name="cart[184090][qty]" value="1" size="4" data-cart-item-id="GGR-T7P-M" title="Qty" class="input-text qty" maxlength="12">
                                <button type="submit" name="update_cart_action" data-cart-item-update="" value="update_qty" title="Update" class="button btn-update hide">
                                    <span><span>Update</span></span>
                                </button>
                                <ul class="cart-links hide">
                                    <li></li>
                                </ul>
                            </td>
                            <a href="#">update</a><br />
                        </div>
                        <br />
                        <div class="col s4 m2"><strong>price:</strong>$5.99</div>
                    </div>


                </div>
            </li>
            <li class="">
                <div class="collapsible-header">
                    <i class="material-icons">
                        <img src="~/img/images.jpg" height="28" width="43" />
                    </i>Nasty
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s3">

                            <img class="responsive-img" src="~/img/images.jpg" />
                        </div>
                        <div class="col s7 m3">
                            Here We can put the deatail of this cup cake it does look mighty delicious man im hungry
                        </div>
                        <div class="col s3 m2">
                            <br />
                            <a href="#">Remove</a><br />
                            <br />
                            <a href="#">Edit</a>
                        </div>
                        <div class="col s4 m2">
                            <td class="product-cart-actions" data-rwd-label="Qty">
                                <div><strong>Quantity</strong></div>
                                <input type="number" pattern="\d*" name="cart[184090][qty]" value="1" size="4" data-cart-item-id="GGR-T7P-M" title="Qty" class="input-text qty" maxlength="12">
                                <button type="submit" name="update_cart_action" data-cart-item-update="" value="update_qty" title="Update" class="button btn-update hide">
                                    <span><span>Update</span></span>
                                </button>
                                <ul class="cart-links hide">
                                    <li></li>
                                </ul>
                            </td>
                            <a href="#">update</a><br />
                        </div>
                        <br />
                        <div class="col s4 m2"><strong>price:</strong>$5.99</div>
                    </div>


                </div>

            </li>
        </ul>

    </div>
    <h4>Total:$23.94</h4>
    <h7>Tax:$3.11</h7>
    <h4>Grand Total:$27.05</h4>

    @Html.ActionLink("Continue Shopping", "Map", new { controller = "Home", action = "Map" }, htmlAttributes: new { @class = "btn waves-effect blue darken-3 yellow-text accent-3" })
    @Html.ActionLink("Proceed to Checkout", null, null, htmlAttributes: new { @class = "btn waves-effect blue darken-4 yellow-text accent-5" })
    @*<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Proceed to Checkout</a>*@
    <!-- Modal Structure -->    
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>AGREEMENT</h4>
            <p>
                This is not just a bunch a text but this is you telling me i can take you credit card and do what the hell i want with it. i mean i can go buy a house a car dinner for me and my gf and because you hit agree you cant sue me after once you  find out
                that i robbed your ass of all your money which if your usuing this website at the early stage mean you dont have any money so im fucked anyways. DAMN I HATE LOOSING
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>

        </div>
    </div>


</div>