
@{
    ViewBag.Title = "ShoppingCart";
}

<div class="container">
    <div class="section">



            }

          



        </table>
  
    @Html.ActionLink("Continue Shopping", "Map", new { controller = "Home", action = "Map" }, htmlAttributes: new { @class = "btn waves-effect blue darken-3 yellow-text accent-3" })
    @Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal")
        <!-- Modal Structure -->
       
</div>
<script>
    $(document).ready(function(){
        $('.modal-trigger').leanModal();
    });
</script>