@model DigiStoreWithMVC.Models.User

@{
    ViewBag.Title = "Store Inventory";
}

<br />
<div class="container">

    <div class="divider"></div>
    <h2 class="center-align">Your Items</h2>
    <br />
    <div>
        @Html.Partial("_AddItem", new DigiStoreWithMVC.Models.Item())
    </div>
    @if (Model != null)
    {
        if (Model.Items.Count > 0)
        {
            <ul id="storeInventoryList" class="collapsible" data-collapsible="accordion">
                @foreach (DigiStoreWithMVC.Models.Item inventoriedItem in Model.Items)
                {
                    @Html.Partial("_ExistingItems", inventoriedItem)
                }
            </ul>
        }
        else
        {
            <p>There are no items in the store inventory.</p>
        }
    }
    else
    {
        <p>There are no items in the store inventory.</p>
    }
</div>
@section scripts {
    <script>
    $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'Drag and drop or click to replace',
            'remove': 'Remove',
            'error': 'Ooops, something wrong appended.'
        }
    });
    </script>
}