@model DigiStoreWithMVC.Models.User

@{
    ViewBag.Title = "Store Inventory";

    DigiStoreWithMVC.Models.Item addableItem = new DigiStoreWithMVC.Models.Item();
}

<br />
<div class="container">
    <div class="row">
        <div class="input-field col s4">
            <select>
                <option value="" disabled="disabled" selected="selected">How many items to show?</option>
                <option value="1">
                    5
                </option>
                <option value="2">
                    25
                </option>
                <option value="3">
                    50
                </option>
                <option value="4">
                    100
                </option>
                <option value="5">
                    200
                </option>
            </select>
            <label>Number of Items Shown</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="itemSearch" class="validate" />
            <label for="itemSearch">Item Name or Serial #:</label>
        </div>
        <div class="col s2">
            <button class="btn btn-large valign waves-effect waves-light blue darken-3 yellow-text accent-3 col s2 m3" type="submit" name="submitSearch" style="width: 100%">
                <span class="hide-on-med-and-down"><i class="material-icons right">search</i>Search Item</span>
                <span class="hide-on-large-only"><i class="material-icons center">search</i></span>
            </button>
        </div>
    </div>

    <div class="divider"></div>
    <h2 class="center-align">Your Items</h2>
    <br />
    <div>
        @Html.Partial("_AddItem", new DigiStoreWithMVC.Models.Item())
    </div>
    @if (Model != null)
    {
        if (Model.Items.Count > 0)
        {
            <ul id="storeInventoryList" class="collapsible" data-collapsible="accordion">
                @foreach (DigiStoreWithMVC.Models.Item inventoriedItem in Model.Items)
                {
                    @Html.Partial("_ExistingItems", inventoriedItem)
                }
            </ul>
        }
        else
        {
            <p>There are no items in the store inventory.</p>
        }
    }
    else
    {
        <p>There are no items in the store inventory.</p>
    }
</div>
