@model DigiStoreWithMVC.Models.Store

@{
    

    @*foreach ()
    {
        <li class="collection-item avatar">
            <img src="~/img/kijiji.png" alt="Kijiji" class="circle" />
            <span class="title">Kijiji</span>
            <p>A site where people can connect with others in their community.</p>
            <p>Products: Everything.</p>
        </li>
    }*@
}