input[type=text]:focus:not([readonly])
{
    border-bottom: 1px #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

input[type="range"]+.thumb {
    background-color: #1565C0 !important;
}

input[type="range"]::-moz-range-thumb {
    background: #ffeb3b !important;
}

input[type="range"]:active::-moz-range-thumb {
    background: #ffeb3b !important;
}

input[type="range"]::-webkit-slider-thumb {
    background: #ffeb3b !important;
}

input[type="range"]:active::-webkit-slider-thumb {
    background: #ffeb3b !important;
}

input[type="range"]::-ms-thumb {
    background: #ffeb3b !important;
}

input[type="range"]:active::-ms-thumb {
    background: #ffeb3b !important;
}

input[type=password]:focus:not([readonly])
{
    border-bottom: 1px #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

textarea:focus:not([readonly])
{
    border-bottom: 1px #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

input:focus:not([readonly])+label
{
    color: #0D47A1 !important;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }