@model DigiStoreWithMVC.Models.User
@{
    ViewBag.Title = "SuccessView";
    DigiStoreWithMVC.Models.Order order = Model.Orders.ElementAt(Model.Orders.Count - 1);
}
@{
    decimal sub = 0;

}

<div class="container">
    <div class="section">
        <div clss="row">
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                        <img src="~/img/DigiStoreLogo.png" style="width:100px;height:100px;" /><br />
                        <span class="card-title">Invoice</span><br />
                        <p class="left-align">
                            <span class="strong">Company Name LLC</span>
                            <br>
                            <span>1234, Main St.</span>
                            <br>
                            <span>New York, USA</span>
                            <br>
                            <span>(555) 555-5555</span>
                            <br />
                            <span>www.exampledomain.com</span>
                        </p>
                        <br />
                        <p>Invoice Number: MT_A_124563</p>
                        <p>Payment Method: Paypal</p><br />
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DigiStoreWithMVC.Models.Item orderItem in order.Items)
                                {
                                    sub = (orderItem.Price * orderItem.Quantity);

                                    <tr>
                                        <td>@orderItem.Id</td>
                                        <td>@orderItem.Name</td>
                                        <td>@orderItem.Quantity</td>
                                        <td>$@orderItem.Price</td>
                                    </tr>

                                }
                                <tr>
                                    <td colspan="2"></td>
                                    <td><b>Sub Total:</b></td>
                                    <td>$@sub</td>
                                </tr>

                                <tr>
                                    <td colspan="2"></td>
                                    <td><b>Service Tax:</b></td>
                                    <td>13.00%</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td><b>Grand Total:</b></td>
                                    <td>$@order.TotalPrice</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
